<script>
import { useStore } from "@/stores/main";
import { boardNumbers } from "../lib/numbers";

export default {
  setup() {
    const store = useStore();

    return {
      store,
      boardNumbers,
    };
  },
};
</script>

<template>
  <div class="numbers">
    <div v-for="(numbers, letter) in boardNumbers" :key="letter" class="column">
      <h2 class="ltr">{{ letter }}</h2>
      <ul>
        <li
          v-for="(number, index) in numbers"
          :key="index"
          :class="{
            num: true,
            picked: store.pickedNumbers.includes(number),
          }"
        >
          {{ number }}
        </li>
      </ul>
    </div>
  </div>
</template>

<style>
.numbers {
  display: flex;
  flex-grow: 0;
  text-align: center;
  height: 100%;
}

.column ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ltr,
.num {
  display: block;
  font-size: 5vh; /* Fallback for browsers that do not support Custom Properties */
  font-size: calc(var(--vh, 1vh) * 5);
  line-height: 6.25vh; /* Fallback for browsers that do not support Custom Properties */
  line-height: calc(var(--vh, 1vh) * 6.25);
  padding: 0 20px;
}

.ltr {
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

.num {
  color: var(--secondary-color);
}

.num.picked {
  color: var(--primary-color);
  font-weight: bold;
}
</style>
