<script>
import { computed, watch, onMounted } from "vue";
import { useStore } from "@/stores/main";
import { numbersMap } from "../lib/numbers";

export default {
  setup() {
    const store = useStore();

    const lastPickedLetter = computed(() => {
      return numbersMap[store.lastPickedNumber];
    });

    const roll = function () {
      if (store.isPaused) {
        return;
      }

      store.pause();
      store.roll();
    };

    let msg = new SpeechSynthesisUtterance();
    let talkTimeout = null;

    const talk = function (texts) {
      let text = texts.shift();

      msg.lang = text.lang;
      msg.text = text.content;

      msg.onend = function () {
        if (texts.length > 0) {
          talkTimeout = setTimeout(() => {
            talk(texts);
          }, 1000);
        } else {
          store.continue();
        }
      };

      speechSynthesis.speak(msg);
    };

    const announce = function (pickedLetter, pickedNumber) {
      let texts = [
        { content: pickedLetter + pickedNumber, lang: "en-US" },
        { content: pickedLetter + pickedNumber, lang: "en-US" },
        { content: pickedNumber.toString().split("").join(" "), lang: "en-US" },
        { content: pickedNumber, lang: "es-ES" },
      ];

      talk(texts);
    };

    const reset = function () {
      if (confirm("Reset game?")) {
        store.pause();

        // Stop the announcement.
        speechSynthesis.cancel();
        clearTimeout(talkTimeout);
        msg.onend = null;

        store.reset();
        store.continue();
      }
    };

    watch(
      () => store.lastPickedNumber,
      (lastPickedNumber) => {
        if (lastPickedNumber !== null) {
          announce(lastPickedLetter.value, lastPickedNumber);
        }
      }
    );

    onMounted(() => {
      document.body.addEventListener("keyup", (e) => {
        if (e.code === "Space") {
          roll();
        }

        if (e.code === "Backspace") {
          reset();
        }
      });
    });

    return {
      store,
      lastPickedLetter,
      roll,
      reset,
    };
  },
};
</script>

<template>
  <div class="result">
    <span class="letter">{{ lastPickedLetter }}</span>
    <span class="number">{{ store.lastPickedNumber }}</span>
    <ul class="buttons">
      <li><button @click.prevent="roll">Roll</button></li>
      <li><button @click.prevent="reset">Reset</button></li>
    </ul>
  </div>
</template>

<style>
.result {
  flex-grow: 1;
  min-width: 250px;
  text-align: center;
}

.letter,
.number {
  display: block;
  font-size: 25vh;
  font-weight: bold;
  line-height: 25vh;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.buttons li {
  margin: 20px 15px 0;
}

.buttons button {
  font-size: 4vh;
}

@media (hover: hover) {
  .buttons {
    display: none;
  }
}
</style>
