:root {
  --background-color: #bcb4a0;
  --primary-color: #181d31;
  --secondary-color: #b2a68b;
  --tertiary-color: #678983;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background-color);
  color: var(--primary-color);
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background: var(--tertiary-color);
  border: none;
  border-radius: 4px;
  color: var(--background-color);
  font-weight: normal;
  padding: 10px 20px;
  -webkit-appearance: none;
}
