<script>
import { onMounted, onUnmounted } from "vue";
import BingoNumbers from "./components/BingoNumbers.vue";
import BingoResult from "./components/BingoResult.vue";

export default {
  components: {
    BingoNumbers,
    BingoResult,
  },
  setup() {
    let windowHeight = window.innerHeight;

    let updateVhProperty = function () {
      document.documentElement.style.setProperty(
        "--vh",
        `${window.innerHeight * 0.01}px`
      );
    };

    updateVhProperty();

    onMounted(() => {
      window.addEventListener("resize", function () {
        if (window.innerHeight != windowHeight) {
          updateVhProperty();
          windowHeight = window.innerHeight;
        }
      });
    });

    onUnmounted(() => {
      window.removeEventListener("resize", updateVhProperty);
    });
  },
};
</script>

<template>
  <div class="board">
    <BingoNumbers />
    <BingoResult />
  </div>
</template>

<style>
@import "./assets/base.css";

.board {
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: 960px;
}

.board::before,
.before::after {
  content: "";
  margin: auto;
}
</style>
